<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <title>ONERP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/ONERP.css' %}">
    <link rel="stylesheet" href="{% static 'css/website.css' %}">
<style>
    .bg-primary{
        background-color: {{ setting.primary_color }}!important;
        color: {{ setting.primary_text_color }}!important;
    }
</style>
    {% block head %}

    {% endblock %}
</head>
<body dir="rtl">
{% block navbar %}
    {% include 'Website/navbar.html' %}
{% endblock %}
<div class="container">
    <div class="row center-text">
        {% block body %}

        {% endblock %}
    </div>
</div>
{% block modal %}
    <div class="modal fade" id="action_modal">
        <div class="modal-dialog modal-full">
            <div class="modal-content">
                    <span class="float-left">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </span>
                <div class="modal-body" id="action_body">

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="sub_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                    <span class="float-left">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </span>
                <div class="modal-body" id="sub_body">

                </div>
            </div>
        </div>
    </div>
{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="{% static 'js/ONERP.js' %}"></script>

<script>
    $('#action_modal').on('show.bs.modal', function (e) {
        $(this).find('.modal-body').load(e.relatedTarget.href);
    });
    $('#sub_modal').on('show.bs.modal', function (x) {
        $('#sub_body').load(x.relatedTarget.href);
    });
    $('body').on('hidden.bs.modal', function () {
        if ($('.modal.in').length > 0) {
            $('body').addClass('modal-open');
        }
    });
</script>
<!-- Multi Level Dropdown Menu -->
<script>
    /*!
     * Bootstrap 4 multi dropdown navbar ( https://bootstrapthemes.co/demo/resource/bootstrap-4-multi-dropdown-navbar/ )
     * Copyright 2017.
     * Licensed under the GPL license
     */


    $(document).ready(function () {
        $('.dropdown-menu a.dropdown-toggle').on('click', function (e) {
            var $el = $(this);
            var $parent = $(this).offsetParent(".dropdown-menu");
            if (!$(this).next().hasClass('show')) {
                $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
            }
            var $subMenu = $(this).next(".dropdown-menu");
            $subMenu.toggleClass('show');

            $(this).parent("li").toggleClass('show');

            $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function (e) {
                $('.dropdown-menu .show').removeClass("show");
            });

            if (!$parent.parent().hasClass('navbar-nav')) {
                $el.next().css({"top": $el[0].offsetTop, "left": $parent.outerWidth() - 4});
            }

            return false;
        });
    });
</script>
{% block js %}

{% endblock %}
</body>
</html>