{% load staticfiles %}
<ul class="users-list clearfix" style="padding: 20px;">


    <!--online users-->
    {% for user in on %}
    <li>
        <a href="{% url 'Chat:chat' request.user.id  user.id %}" data-toggle='modal' data-target="
            #sub_modal">
            <img src="{% static 'AdminLTE/dist/img/user1-128x128.jpg' %}" alt="User Image">

            {% if user.user.get_full_name %}
            <span class="users-list-date">{{user.user.get_full_name}}</span>
            {% else %}
            <span class="users-list-date">{{user.user.username}}</span>
            {% endif %}
            <div class="badge badge-success">Online</div>
        </a>
    </li>
    
    {% endfor %}
    
    <!--Offline users-->
    {% for user in off %}
    <li>
        <a href="{% url 'Chat:chat' request.user.id  user.id %}" data-toggle='modal' data-target="
            #sub_modal">
            <img src="{% static 'AdminLTE/dist/img/user1-128x128.jpg' %}" alt="User Image">

            {% if user.user.get_full_name %}
            <span class="users-list-date">{{user.user.get_full_name}}</span>
            {% else %}
            <span class="users-list-date">{{user.user.username}}</span>
            {% endif %}
            <span class="users-list-date" ><i class="fa fa-clock"></i>{{user.last_activity|timesince}}</span>
            
        </a>
    </li>
    {% endfor %}

    
</ul>
<!-- /.users-list -->