{% extends 'base.html' %}
{% block body %}
<div class="col-lg-12">
    <div class="btn-group btn-block">
        <a class="btn btn-app" href="{% url 'Customers:CustomerCalls' object.id %}">
            {% if object.customercall_set.count > 0 %}
            <span class="badge bg-purple">{{ object.customercall_set.count }}</span>
            {% endif %}
            <i class="fas fa-mobile"></i>المكالمات
        </a>
        <a class="btn btn-app" href="{% url 'Customers:CustomerInvoices' object.id %}?type=7">
            {% if object.quotations.count > 0 %}
                <span class="badge bg-purple">{{ object.quotations.count }}</span>
            {% endif %}
            <i class="fas fa-edit"></i> عروض الأسعار
        </a>
        <a class="btn btn-app" href="{% url 'Customers:CustomerInvoices' object.id %}?type=1">
            {% if object.sales_invoices.count > 0 %}
                <span class="badge bg-purple">{{ object.sales_invoices.count }}</span>
            {% endif %}
            <i class="fas fa-list-alt"></i> فواتير المبيعات
        </a>
    </div>
</div>
<div class="col-md-4">
    <a class="btn btn-success btn-block" href="{% url 'Customers:add_call' object.id %}" data-toggle="modal"
       data-target="#sub_modal">
        <i class="fa fa-mobile"></i>
    </a>
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                بيانات العميل / المورد
                <a href="{% url 'Customers:CustomerUpdate' object.id %}" data-toggle="modal"
                   data-target="#sub_modal"
                   class="btn btn-success">
                    <i class="fa fa-edit"></i>
                </a>
            </div>
        </div>
        <div class="card-body">

            <div class="card card-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-warning">
                  
                  <!-- /.widget-user-image -->
                  <h3 class="widget-user-username">{{ object.name }}</h3>
                  
                  {% if object.job %}
                  <h5 class="widget-user-desc">{{object.job}}</h5>
                  {% endif %}
                      
                
                </div>
                <div class="card-footer p-0">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a href="#" class="nav-link" style="color:black"> 
                          {% if object.address %}
                          العنوان : 
                          <span class=" badge "><h6>{{object.address}}</h6></span>
                          {% endif %}
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link" style="color:black">
                        
                        {% if object.phone %}
                        رقم الموبيل :
                        <span class="badge "><h6>{{object.phone}}</h6></span>
                        {% endif %}
                              
                      </a>
                    </li>
                    {% if object.technician %}
                    <li class="nav-item">
                      <a href="#" class="nav-link b" style="color:black">
                          الفني:
                           <span class="badge"><h6>{{object.technician}}</h6></span>
                      </a>
                    </li>
                    {% endif %}

                    {% if object.customer_type %}
                    <li class="nav-item">
                      <a href="#" class="nav-link b" style="color:black">
                          نوع العميل:
                           <span class="badge"><h6>{{object.customer_type}}</h6></span>
                      </a>
                    </li>
                    {% endif %}

                    {% if object.payments_status%}
                    <li class="nav-item">
                      <a href="#" class="nav-link b" style="color:black">
                          حالة الدفعات :
                           <span ><input type="color" value="{{object.payments_status}}" readonly></span>
                      </a>
                    </li>
                    {% endif %}

                    {% if object.Products_status%}
                    <li class="nav-item">
                      <a href="#" class="nav-link b" style="color:black"  >
                          حالة المنتجات :
                           <span ><input type="color" value="{{object.Products_status}}" readonly></span>
                      </a>
                    </li>
                    {% endif %}

                  </ul>
                </div>
              </div>

            <h5>وسائل التواصل</h5>
            
            {% if object.phone %}
                <a href="tel:{{ object.phone }}" class="btn btn-info">
                    <i class="fa fa-mobile"></i>
                </a>
                <a href="https://wa.me/2{{ object.phone }}" class="btn btn-success" target="_blank">
                    <i class="fab fa-whatsapp"></i>
                </a>
            {% endif %}
            {% if object.name %}
                <a href="https://m.me/{{ object.facebook_account }}" class="btn btn-primary" target="_blank">
                    <i class="fab fa-facebook-messenger"></i>
                </a>
            {% endif %}
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                الخط الزمني
            </div>
        </div>
        <div class="card-body">

            <!-- The time line -->
            <div class="timeline">
                <!-- timeline time label -->
                {% regroup object.customerhistory_set.all by added_at.date.isoformat as object_list %}
                {% for x in object_list %}
                    <div class="time-label">
                        <span class="bg-red">{{ x.grouper }}</span>
                    </div>
                    <!-- /.timeline-label -->
                    {% for y in x.list %}
                        <!-- timeline item -->
                        {% if y.history_type == 1 %}
                            <div>
                                <i class="fas fa-user-plus bg-green"></i>
                                <div class="timeline-item">
                                    <span class="time"><i class="fas fa-clock"></i> {{ y.added_at.time }}</span>
                                    <h3 class="timeline-header no-border">

                                        تم إضافة العميل
                                        <a href="#">{{ y.customer.name }}</a>
                                        بواسطة
                                        <a href="#">{{ y.added_by }}</a>
                                    </h3>
                                </div>
                            </div>
                        {% elif y.history_type == 2 %}
                            <div>
                                <i class="fas fa-phone bg-warning"></i>
                                <div class="timeline-item">
                                    <span class="time"><i class="fas fa-clock"></i> {{ y.added_at.time }}</span>
                                    <h3 class="timeline-header no-border">
                                        تم
                                        <a href="{% url 'Customers:CallDetail' y.call.id %}" data-target="#sub_modal" data-toggle="modal">
                                            {{ y.get_history_type_display }}

                                        </a>
                                        بواسطة
                                        <a href="#">{{ y.added_by }}</a>
                                    </h3>
                                </div>
                            </div>
                        {% elif y.history_type == 3 %}
                            <div>
                                <i class="fas fa-list-alt bg-info"></i>
                                <div class="timeline-item">
                                    <span class="time"><i class="fas fa-clock"></i> {{ y.added_at.time }}</span>
                                    <h3 class="timeline-header no-border">

                                        تم إضافة
                                        <a href="#">
                                            {{ y.get_history_type_display }}

                                            {{ y.ivnoice_id }}
                                        </a>
                                        بواسطة
                                        <a href="#">{{ y.added_by }}</a>
                                    </h3>
                                </div>
                            </div>

                        {% elif y.history_type == 4 %}
                            <div>
                                <i class="fas fa-list-alt bg-info"></i>
                                <div class="timeline-item">
                                    <span class="time"><i class="fas fa-clock"></i> {{ y.added_at.time }}</span>
                                    <h3 class="timeline-header no-border">

                                        تم إضافة
                                        <a href="#">
                                            {{ y.get_history_type_display }}

                                            {{ y.ivnoice_id }}
                                        </a>
                                        بواسطة
                                        <a href="#">{{ y.added_by }}</a>
                                    </h3>
                                </div>
                            </div>
                        
                            {% elif y.history_type == 5 %}
                            <div>
                                <i class="fas fa-list-alt bg-info"></i>
                                <div class="timeline-item">
                                    <span class="time"><i class="fas fa-clock"></i> {{ y.added_at.time }}</span>
                                    <h3 class="timeline-header no-border">

                                        تم إضافة
                                        <a href="#">
                                            {{ y.get_history_type_display }}

                                            {{ y.note }}
                                        </a>
                                        بواسطة
                                        <a href="#">{{ y.added_by }}</a>
                                    </h3>
                                </div>
                            </div>    

                         

                        {% endif %}

                        
                        <!-- END timeline item -->
                    {% endfor %}
                {% endfor %}
                <!-- END timeline item -->
                <div>
                    <i class="fas fa-clock bg-gray"></i>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}