{% extends 'base.html' %}
{% block body %}
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    <a href="{% url 'Customers:CustomerDetail' object.id %}">
                        <i class="fa fa-arrow-left"></i> عودة إلي صفحة العميل
                    </a>
                    عرض فواتير العميل:
                    {{ object.name }}

                </div>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <td>التاريخ</td>
                        <td>الفاتورة</td>
                        <td>أنشئت بواسطة</td>
                        <td>إجمالي</td>
                        <td>خصم</td>
                        <td>بعد الخصم</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for x in invoices %}
                        <tr>
                            <td><a href="">{{ x.date.date.isoformat }}</a></td>
                            <td><a href="">{{ x }}</a></td>
                            <td>{{ x.employee }}</td>
                            <td>{{ x.total }}</td>
                            <td>{{ x.discount }}</td>
                            <td>{{ x.after_discount }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}