{% extends 'empty_base.html' %}
{% block body %}
    <div class="col-lg-4 col-md-4">
        <a href="{% url 'Tasks:TaskDone' object.id %}" class="btn btn-success btn-block" data-toggle="modal" data-target="#sub_modal">
            <i class="fa fa-check"></i>
            تم
        </a>
    </div>
    <div class="col-lg-4 col-md-4">
        <a href="{% url 'Tasks:TaskUpdate' object.id %}" class="btn btn-info btn-block" data-toggle="modal" data-target="#sub_modal">
            <i class="fa fa-edit"></i>
            تعديل
        </a>
    </div>
    <div class="col-lg-4 col-md-4">
        <a href="{% url 'Tasks:TaskTransfer' object.id %}" class="btn btn-warning btn-block" data-toggle="modal" data-target="#sub_modal">
            <i class="fa fa-exchange-alt"></i>
            تحويل
        </a>
    </div>
    {% for x in object.taskcomment_set.all %}
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    {{ x.done_by }}
                    <br>
                    <small>
                        {{ x.created_date.date.isoformat }}
                    </small>
                </div>
                <div class="card-body">
                    {{ x.comment|linebreaks|safe }}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}