{% extends 'base.html' %}
{% block title %}تم إرسال رسالة استعادة كلمة المرور{% endblock %}
{% block public_body %}
    <div class="login-container">
        <div class="card">
            <div class="card-header bg-primary">تم إرسال رسالة إستعادة كلمة المرور</div>
            <div class="card-body">
                <p>تم إرسال رسالة تحتوي علي تعليمات إعادة ضبط كلمة المرور الخاصة بك. يجب أن تستقبل الرسالة قريباً</p>
                <p>برجاء فحص بريدك الالكتروني</p>
            </div>
        </div>
    </div>
{% endblock %}