{% extends 'base.html' %}

{% block title %}ضبط كلمة مرور جديدة{% endblock %}
{% block public_body %}
    <div class="login-container">
        <div class="card">
            <div class="card-header">ضبط كلمة مرور جديدة</div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Change my password">
                </form>
            </div>
        </div>
    </div>
{% endblock %}