{% extends 'base.html' %}

{% block title %}
    تم إعادة ضبط كلمة مرور بنجاح
{% endblock %}
{% block public_body %}
    <div class="login-container">
        <div class="card">
            <div class="card-header">
                تم إعادة ضبط كلمة مرور بنجاح
            </div>
            <div class="card-body">
                تم ضبط كلمة مرورك الجديدة بنجاح يمكنك الان تسجيل الدخول من
                <a href="{% url 'Auth:login' %}">هنا</a>
            </div>
        </div>
    </div>
{% endblock %}