{% extends 'base.html' %}
{% block title %}نسيان كلمة المرور{% endblock %}
{% block public_body %}
    <div class="login-container">
        <div class="card">
            <div class="card-header bg-primary">
                هل نسيت كلمة المرور؟
            </div>
            <div class="card-body">
                <p>
                    اكتب بريدك الالكتروني وسوف نقوم بإرسال رسالة بكيفية ضبط كلمة مرور جديدة

                </p>

                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success btn-block" value="Send me instructions!">
                    <i class="fa fa-check-circle"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}